<div class="col-sm-12 col-md-12 col-lg-12" *ngIf="agentName">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button bg-4a4a4a text-white p-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          Alert Center (Active Alert)
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="flush-headingOne"
      >
        <div class="accordion-body">
          <div class="text-success">12x message 02 same SG 01</div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button bg-4a4a4a text-white p-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Verfication Information
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse show"
        aria-labelledby="flush-headingTwo"
      >
        <div class="accordion-body">
          <div>
            <div class="form-control m-y-7">
              <h6>Caller Verfication</h6>

              <div class="row">
                <div class="col-4">
                  <label for="">Verfication</label>
                  <select class="form-select">
                    <option [selected]="contactAttObj.verfication === 'yes'">Yes</option>
                    <option [selected]="contactAttObj.verfication === 'no'">No</option>
                  </select>
                </div>

                <div class="col-8">
                  <label for="">Notes</label>
                  <textarea
                    id="notes"
                    name="notes"
                    [ngModel]="contactAttObj.notes"
                    class="form-control input-sm"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="form-control ">
              <h6>policy</h6>

              <div class="row">
                <div class="col-4">
                  <label for="">ID Number</label>
                  <input
                    type="text"
                    id="idNumber"
                    name="idNumber"
                    [ngModel]="contactAttObj.policyNumber"
                    class="form-control input-sm"
                  />
                </div>

                <div class="col-4">
                  <label for="">LOB</label>
                  <input type="text" id="lob" name="lob" class="form-control input-sm" />
                </div>

                <div class="col-4">
                  <label for="">Source</label>
                  <input
                    type="text"
                    id="source"
                    name="source"
                    [ngModel]="contactAttObj.source"
                    class="form-control input-sm"
                  />
                </div>
              </div>
            </div>

            <div class="form-control m-y-7">
              <h6>Caller Identification</h6>

              <div class="row">
                <div class="col-4">
                  <label for="">First Name</label>
                  <input
                    type="text"
                    id="firstname"
                    name="firstname"
                    [ngModel]="contactAttObj.FirstName"
                    class="form-control input-sm"
                    [value]="agentName"
                  />
                </div>

                <div class="col-4">
                  <label for="">Last Name</label>
                  <input
                    type="text"
                    id="lastname"
                    name="lastname"
                    [ngModel]="contactAttObj.LastName"
                    class="form-control input-sm"
                  />
                </div>

                <div class="col-4">
                  <label for="">Suffix</label>
                  <input
                    type="text"
                    id="suffix"
                    name="suffix"
                    [ngModel]="contactAttObj.suffix"
                    class="form-control input-sm"
                  />
                </div>

                <div class="col-4">
                  <label for="">Relation</label>
                  <select class="form-select">
                    <option [selected]="contactAttObj.relation === 'other'">Others</option>
                  </select>
                </div>

                <div class="col-4">
                  <label for="">Status</label>
                  <select class="form-select">
                    <option [selected]="contactAttObj.status === 'active'">Active</option>
                    <option [selected]="contactAttObj.status === 'inactive'">Inactive</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 btn-section">
                <button type="button" class="btn btn-sm btn-dark ms-2">
                  Save Change
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button bg-4a4a4a text-white p-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Click to connect
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse show"
        aria-labelledby="flush-headingThree"
      >
        <div class="accordion-body">
          <div class="text-success">Successfully Connected</div>
        </div>
      </div>
    </div>
  </div>
</div>
