.ccp {
    height: 100vh;
}

.bg-4a4a4a {
    background-color: #4a4a4a;
}

.p-y-7 {
    padding: 7px 0;
}

.m-y-7 {
    margin: 7px 0;
}

.btn-section {    
    padding: 10px 15px;
    text-align: right;
}