<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div id="ccp" class="ccp"></div>      
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8" *ngIf="agentName">

      <div class="row mb-4">
        <div class="col-12 border border-1 p-0">
          <div  class="bg-4a4a4a text-center p-y-7 text-white">Caller Attributes</div>
          <div class="px-2">
            <div class="p-y-7">First Name - {{agentName}}</div>
            <div class="p-y-7">Last Name - </div>
            <div class="p-y-7">Suffix -</div>
            <div class="p-y-7">ID Number - </div>
            <div class="p-y-7">LOB - </div>
            <div class="p-y-7">Source - </div>
            <div class="p-y-7">ANI - </div>
            <div class="p-y-7">Notes - </div>
            <div class="p-y-7">
            <label for="Verification">Verification:</label>

            <select name="Verification" id="Verification">
              <option value="pass">Pass</option>
              <option value="fail">Fail</option>
            </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 border border-1 p-0">
          <div  class="bg-4a4a4a text-center p-y-7 text-white">Contact Disposition</div>
          <div class="p-4">
            <input type="text" class="form-control " id="inputValidation" placeholder="Select an intent during call"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 border border-1 p-0">
          <div  class="bg-4a4a4a text-center p-y-7 text-white">Actions</div>
          <div class="p-4">
            <input type="text" class="form-control " id="inputValidation" placeholder="Select a queue"/>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
